body {
  background-color: rgb(236, 248, 235);
}

.nav-link {
  color: white;
}

h1 {
  text-align: center;
  padding: 20px;
  color: green;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  margin: 1rem;
}
