body {

  background-color: rgb(236, 248, 235);
}

main {
  flex-direction: column;

}

.container {
  display: flex;
  flex-direction: column;

}

.nav-link {
  color: white;
}

h1 {
font-weight: 1050;
  text-align: center;
  padding: 21px;
  color: rgb(66, 150, 66);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  margin: 1rem;
  text-align: center;
}

footer{
  padding-top: 50px;
  color: white;
}

